In [2]:
import pandas as pd
import random as rand
import numpy as np

In [3]:
files_to_divide = ["Attendorn_dev.csv","Drolshagen_dev.csv","Finnentrop_dev.csv"]

#students_moodle = pd.read_csv(file_students_moodle)
#students_registered = pd.read_csv(file_students_registered)

In [49]:
counter = 0
number_of_groups = 52
df_output = pd.DataFrame(columns = ["GroupID", "Attendorn_Ackerland","Attendorn_Grünland",
                                    "Drolshagen_Grünland","Drolshagen_Grünland",
                                   "Finnentrop_Grünland", "Finnentrop_Grünland"], index = range(number_of_groups))
dfLists = []
for file_to_divide in files_to_divide:
    #col_name = file_to_divide[-9] + "_"
    #print(col_name)
    try:
        df_complete = pd.read_csv(file_to_divide)
    except: 
        print("Could not find the table: ", file_to_divide)
    df_complete = df_complete[["fid","bez"]]
    var_compare = "Ackerland"
    df_acker = df_complete.loc[df_complete["bez"]==var_compare]
    dfLists.append(df_acker)
    var_compare = "Grünland"
    df_gruen = df_complete.loc[df_complete["bez"]==var_compare]
    dfLists.append(df_gruen)
    
df_output = pd.DataFrame(columns = ["GroupID", "Attendorn_Ackerland","Attendorn_Grünland",
                                    "Drolshagen_Grünland","Drolshagen_Grünland",
                                   "Finnentrop_Grünland", "Finnentrop_Grünland"], index = range(number_of_groups))

counter = [0,0,0,0,0,0]
for n in range(number_of_groups):
    series_group = df_output.loc[n,:]
    try:
        series_group[0] = "Group_" + str(n+1)
    except:
        print("error while setting groupID")
    for it in range(len(dfLists)):
        try:
            series_group[it+1] = dfLists[it].iloc[counter[it],0]
            counter[it]+=1
        except:
            counter[it] = 0
            series_group[it+1] = dfLists[it].iloc[counter[it],0]
            counter[it]+=1
    
df_output

,GroupID,Attendorn_Ackerland,Attendorn_Grünland,Drolshagen_Grünland,Drolshagen_Grünland,Finnentrop_Grünland,Finnentrop_Grünland
0,Group_1,2,1,3,1,4,1
1,Group_2,3,5,4,2,5,2
2,Group_3,4,6,10,5,9,3
3,Group_4,8,7,29,6,11,6
4,Group_5,9,16,30,7,18,7
5,Group_6,10,17,36,8,19,8
6,Group_7,11,18,40,9,20,10
7,Group_8,12,19,41,11,21,12
8,Group_9,13,20,3,12,22,13
9,Group_10,14,21,4,13,23,14
10,Group_11,28,22,10,14,24,15
11,Group_12,30,23,29,15,25,26
12,Group_13,32,24,30,16,27,28
13,Group_14,33,25,36,17,30,29
14,Group_15,35,26,40,18,38,31
15,Group_16,37,27,41,19,39,32
16,Group_17,44,29,3,20,40,33
17,Group_18,47,31,4,21,41,34
18,Group_19,2,34,10,22,42,35
19,Group_20,3,36,29,23,46,36
20,Group_21,4,38,30,24,47,37
21,Group_22,8,39,36,25,51,44
22,Group_23,9,40,40,26,54,45
23,Group_24,10,41,41,27,4,48
24,Group_25,11,42,3,28,5,49
25,Group_26,12,43,4,31,9,50
26,Group_27,13,45,10,32,11,52
27,Group_28,14,46,29,33,18,53
28,Group_29,28,1,30,34,19,55
29,Group_30,30,5,36,35,20,56
30,Group_31,32,6,40,37,21,57
31,Group_32,33,7,41,38,22,58
32,Group_33,35,16,3,39,23,1
33,Group_34,37,17,4,42,24,2
34,Group_35,44,18,10,43,25,3
35,Group_36,47,19,29,44,27,6
36,Group_37,2,20,30,45,30,7
37,Group_38,3,21,36,46,38,8
38,Group_39,4,22,40,1,39,10
39,Group_40,8,23,41,2,40,12
40,Group_41,9,24,3,5,41,13
41,Group_42,10,25,4,6,42,14
42,Group_43,11,26,10,7,46,15
43,Group_44,12,27,29,8,47,26
44,Group_45,13,29,30,9,51,28
45,Group_46,14,31,36,11,54,29
46,Group_47,28,34,40,12,4,31
47,Group_48,30,36,41,13,5,32
48,Group_49,32,38,3,14,9,33
49,Group_50,33,39,4,15,11,34
50,Group_51,35,40,10,16,18,35
51,Group_52,37,41,29,17,19,36

In [41]:
len(series_group)

6