In [50]:
import pandas as pd
import random as rand
import numpy as np

In [51]:
files_to_divide = ["Attendorn_dev.csv","Drolshagen_dev.csv","Finnentrop_dev.csv"]

#students_moodle = pd.read_csv(file_students_moodle)
#students_registered = pd.read_csv(file_students_registered)

In [52]:
counter = 0
number_of_groups = 52
df_output = pd.DataFrame(columns = ["GroupID", "Attendorn_Ackerland","Attendorn_Grünland",
                                    "Drolshagen_Grünland","Drolshagen_Grünland",
                                   "Finnentrop_Grünland", "Finnentrop_Grünland"], index = range(number_of_groups))
dfLists = []
for file_to_divide in files_to_divide:
    #col_name = file_to_divide[-9] + "_"
    #print(col_name)
    try:
        df_complete = pd.read_csv(file_to_divide)
    except: 
        print("Could not find the table: ", file_to_divide)
    df_complete = df_complete[["Region_ID","bez"]]
    var_compare = "Ackerland"
    df_acker = df_complete.loc[df_complete["bez"]==var_compare]
    dfLists.append(df_acker)
    var_compare = "Grünland"
    df_gruen = df_complete.loc[df_complete["bez"]==var_compare]
    dfLists.append(df_gruen)
    
df_output = pd.DataFrame(columns = ["GroupID", "Attendorn_Ackerland","Attendorn_Grünland",
                                    "Drolshagen_Grünland","Drolshagen_Grünland",
                                   "Finnentrop_Grünland", "Finnentrop_Grünland"], index = range(number_of_groups))

counter = [0,0,0,0,0,0]
for n in range(number_of_groups):
    series_group = df_output.loc[n,:]
    try:
        series_group[0] = "Group_" + str(n+1)
    except:
        print("error while setting groupID")
    for it in range(len(dfLists)):
        try:
            series_group[it+1] = dfLists[it].iloc[counter[it],0]
            counter[it]+=1
        except:
            counter[it] = 0
            series_group[it+1] = dfLists[it].iloc[counter[it],0]
            counter[it]+=1
    
df_output

,GroupID,Attendorn_Ackerland,Attendorn_Grünland,Drolshagen_Grünland,Drolshagen_Grünland,Finnentrop_Grünland,Finnentrop_Grünland
0,Group_1,2,1,49,47,96,93
1,Group_2,3,5,50,48,97,94
2,Group_3,4,6,56,51,101,95
3,Group_4,8,7,75,52,103,98
4,Group_5,9,15,76,53,108,99
5,Group_6,10,16,82,54,109,100
6,Group_7,11,17,86,55,110,102
7,Group_8,12,18,87,57,111,104
8,Group_9,13,19,49,58,112,105
9,Group_10,14,20,50,59,113,106
10,Group_11,27,21,56,60,114,107
11,Group_12,29,22,75,61,115,116
12,Group_13,31,23,76,62,117,118
13,Group_14,32,24,82,63,120,119
14,Group_15,34,25,86,64,128,121
15,Group_16,36,26,87,65,129,122
16,Group_17,43,28,49,66,130,123
17,Group_18,46,30,50,67,131,124
18,Group_19,2,33,56,68,132,125
19,Group_20,3,35,75,69,135,126
20,Group_21,4,37,76,70,136,127
21,Group_22,8,38,82,71,140,133
22,Group_23,9,39,86,72,143,134
23,Group_24,10,40,87,73,96,137
24,Group_25,11,41,49,74,97,138
25,Group_26,12,42,50,77,101,139
26,Group_27,13,44,56,78,103,141
27,Group_28,14,45,75,79,108,142
28,Group_29,27,1,76,80,109,144
29,Group_30,29,5,82,81,110,145
30,Group_31,31,6,86,83,111,146
31,Group_32,32,7,87,84,112,147
32,Group_33,34,15,49,85,113,93
33,Group_34,36,16,50,88,114,94
34,Group_35,43,17,56,89,115,95
35,Group_36,46,18,75,90,117,98
36,Group_37,2,19,76,91,120,99
37,Group_38,3,20,82,92,128,100
38,Group_39,4,21,86,47,129,102
39,Group_40,8,22,87,48,130,104
40,Group_41,9,23,49,51,131,105
41,Group_42,10,24,50,52,132,106
42,Group_43,11,25,56,53,135,107
43,Group_44,12,26,75,54,136,116
44,Group_45,13,28,76,55,140,118
45,Group_46,14,30,82,57,143,119
46,Group_47,27,33,86,58,96,121
47,Group_48,29,35,87,59,97,122
48,Group_49,31,37,49,60,101,123
49,Group_50,32,38,50,61,103,124
50,Group_51,34,39,56,62,108,125
51,Group_52,36,40,75,63,109,126

In [54]:
df_output.to_csv("Regions_per_group.csv",header=False, index=False)